<template name="posts">
 <!-- Trigger the modal with a button -->
 {{#if currentUser}}
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#postModal">Say Something!</button>
 {{/if}}
<!-- Modal -->
<div id="postModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create A Post</h4>
      </div>
      <div class="modal-body">
        {{#autoForm collection="Posts" id="insertPostForm " type="insert"}}
          {{> afQuickField name="body" rows=4}}
          <button type="submit" class="btn btn-primary"> Send</button>
           <button type="button" class="btn btn-danger" data-dismiss="modal"> Close</button>
        {{/autoForm}}
      </div>

    </div>

  </div>
</div>

<hr>

{{#each posts}}
<div class="row post"> 
  <div class="col-md-1">
    <img src="{{getProfileImg userId}}" class="img-responsive">
  </div>
  <div class="col-md-11">
    <small>Posted By {{username}} at {{createdAt}}</small>
    <p>{{body}} </p>
  </div>
</div>
{{else}}
<p>No posts</p>
{{/each}}

</template>